@charset "UTF-8";

@media (min-width: 1020px) {
  .relogio > div {
    background-color: white;
    border: 2px solid #d07f28;
    color: black;
    text-align: center;
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0, 0, 0,0.2));
  }

}